%h3 在#{@video_list.name}中发布新视频
= form_for @video, :url => {:action => "create"}  do |f|
  %p
    = f.label "标题"
    = f.text_field :title
  %p
    = f.label "网页地址"
    = f.text_field :url
  %p
    = f.hidden_field :community_id, :value => @video_list.community.id
  %p
    = f.hidden_field :video_list_id, :value => @video_list.id    
  %p  
    = f.submit "更新"